

<h1>Name: {{data.name}}</h1>
<h2>Sport: {{data.sport}}</h2>
<h4>Age: {{data.age}}</h4>
<h4>Height: {{data.height}}</h4>
<h4>Weight: {{data.weight}}</h4>
<h4>Event he took part in: {{data.event}}</h4>