<div>

    <h1 id="year-title">MILESTONES IN {{data.id}}</h1>
    
    <div class='sx-img-dx-text'>
        <img src="https://supluginsja.com/podium/images/placeholder-04.png" alt="">
        <h1 id="year-title">MEDALS WON BY THE USA TEAM: {{data.Medal}}</h1>
    </div>

    <div class='dx-img-sx-text'>
        <h1 id="year-title"><a href="/{{data.id}}/person">SEE ALL ATHLETES OF {{data.id}}</a></h1>
        <img src="https://www.stickpng.com/assets/thumbs/5a5cbf599538462e5a82d541.png" alt="">
    </div>

    <a href="/{{data.id}}/events"></a>
</div>
